[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.11"
djangorestframework = "==3.12.4"
pymysql = "==1.0.2"
django-environ = "==0.4.5"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
